<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model introduced in .NET Framework 4. -->
      <service name="AzureFtpForSharePoint.Server.Implementation.SharePointFtpService" behaviorConfiguration="SharePointFtpServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1972/SharePointFtpService/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:1972/SharePointFtpService/service  -->
        <endpoint address="" binding="wsHttpBinding" contract="AzureFtpForSharePoint.Server.ServiceContracts.ISharePointFtpService" />
        <!-- the mex endpoint is exposed at http://localhost:1972/SharePointFtpService/service/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SharePointFtpServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>