<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISharePointFtpService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1972/SharePointFtpService/service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISharePointFtpService"
                contract="SharePointFtpService.ISharePointFtpService" name="WSHttpBinding_ISharePointFtpService">
                <identity>
                    <servicePrincipalName value="host/loki" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>