<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SetupAzureFtpForSharePoint" Language="1033" Version="1.0.0.0" Manufacturer="4GuysFromPalmira" UpgradeCode="56fad890-84d8-4295-89d7-c043f8c23fa1">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="This application requires .net version 4.5 or higher.">Installed OR NETFRAMEWORK45</Condition>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="INSTALLLOCATION" Name="AzureFtpForSharePoint">
        <Component Id="ServiceComponent" Guid="56fad090-04d0-4295-00d7-c043f8c23fa0">
          <CreateFolder />
          <File Id="MainExecutable" KeyPath="yes" Source="$(var.BasePath)\azureftp-for-sharepoint.server.exe" />
          <ServiceInstall Id="ServiceInstaller"
            Type="ownProcess"
            Vital="yes"
            Name="AzureFtpForSharePointServer"
            DisplayName="AzureFTP for SharePoint Server"
            Description="Server for SharePoint contents and structure queries"
            Start="auto"
            Account="LocalSystem"
            ErrorControl="ignore"
            Interactive="no" />
          <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="AzureFtpForSharePointServer" Wait="yes" />
        </Component>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="AzureFtpForSharePoint" Level="1">
      <ComponentGroupRef Id="azureftp-for-sharepoint.server_Project" />
      <ComponentRef Id="ServiceComponent" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR">INSTALLLOCATION</Property>
    <UIRef Id="WixUI_InstallDir" />
    
		<!--<Feature Id="ProductFeature" Title="SetupAzureFtpForSharePoint" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>-->
	</Product>

	<!--<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SetupAzureFtpForSharePoint" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			--><!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. --><!--
			--><!-- <Component Id="ProductComponent"> --><!--
				--><!-- TODO: Insert files, registry keys, and other resources here. --><!--
			--><!-- </Component> --><!--
		</ComponentGroup>
	</Fragment>-->
</Wix>